<div class="container-fluid">
  <div class="row justify-content-center" style="height: 100vh;">
    <div class="col-md-5 align-self-center" style="height: 70%;">


      <p><strong>Write Something</strong></p>
      <kendo-textarea placeholder="Write Something"  flow="horizontal" [rows]="8" [cols]="50" [(ngModel)]="text">
        <kendo-textarea-suffix>
            <button kendoButton look="clear" icon="pencil"></button>
        </kendo-textarea-suffix>
      </kendo-textarea>

      <br>
      <!-- Align Button -->

      <p class="mt-5"><strong>Align</strong></p>
      <kendo-buttongroup selection="single">
        <button kendoButton (click)="onAlign('left')" [toggleable]="true" icon="align-left"></button>
        <button kendoButton (click)="onAlign('center')" [toggleable]="true" icon="align-center" ></button>
        <button kendoButton (click)="onAlign('right')" [toggleable]="true" icon="align-right"></button>
      </kendo-buttongroup>

      <br>

      <p class="mt-5"><strong>Font Size</strong></p>
      <kendo-dropdownlist  [data]="size" [value]="12" [(ngModel)]="textSize">
      </kendo-dropdownlist>

      <br>

      <p class="mt-5"><strong>Font Color</strong></p>
      <kendo-colorpicker icon="edit-tools" [(value)]="textColor">
      </kendo-colorpicker>

      <br>


      <p class="mt-5"><strong>Text Background</strong></p>
      <kendo-colorpicker [view]="'palette'" [(value)]="textBg">
      </kendo-colorpicker>

    </div>


    <div class="col-md-5 align-self-center m-2" style="height: 50%;">
      <div class="wall row justify-content-center">
        <div class="col-12 content align-self-center" style="height: 97%;">
          <div class="text">
            <p [textAlign]="align" [textSize]="textSize" [textColor]="textColor" [textBg]="textBg">{{text}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>





      <!-- <button class="btn btn-info">Hi</button>

      <button kendoButton [primary]="true"> Primary  </button> -->